# ImageKit.io Configuration
VITE_IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
VITE_IMAGEKIT_URL_ENDPOINT=

# Gemini API Key (Server-only secret)
GEMINI_API_KEY=AIzaSyDbiuy0DH46V7ss8cASaKE0BkyZ9c-sQHs

# Groq API Key (Server-only secret)
GROQ_API_KEY=
